@import "tailwindcss";

@theme {
	--animate-fade-in-scale: fade-in-scale 3s ease-out;
	--animate-marquee-move: marquee-move 20s linear infinite;
	--animate-pulse-zoom: pulse-zoom 4s ease-in-out infinite;
	--animate-vertical-tilt: vertical-tilt 6s ease-in-out infinite;

	@keyframes fade-in-scale {
		0% {
			opacity: 0;
			transform: scale(0.95);
		}
		100% {
			opacity: 1;
			transform: scale(1);
		}
	}

	@keyframes marquee-move {
		0% {
			transform: translateX(0%);
		}
		100% {
			transform: translateX(-100%);
		}
	}

	@keyframes pulse-zoom {
		0%,
		100% {
			transform: scale(1);
		}
		50% {
			transform: scale(1.1);
		}
	}

	@keyframes vertical-tilt {
		0% {
			transform: rotateY(-20deg);
		}
		50% {
			transform: rotateY(20deg);
		}
		100% {
			transform: rotateY(-20deg);
		}
	}
}
